/* Container to hold the sidebar and content */
.conta {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
   height: 95vh;
  


 }
 
 /* Sidebar styling */
 .sidebar {
   border-radius: 20px;
   width: 250px;
   background-color: #f4f4f4; /* Light gray background for sidebar */
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   height: auto;
   display: none;
 }
 
 /* Content area styling */
 .content {
   flex: 1;
   background: linear-gradient(135deg, #e6e6eb, #005d9275);
   padding: 24px;
   border-radius: 12px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
   
   transition: transform 0.2s, box-shadow 0.2s;
   height: 95vh;
   margin-left: 400px;


}
 
 .content:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.07);
 }
 
 /* Affaire details styling */
 .affaire-details {
   margin-bottom: 20px;
   display: flex;
   flex-direction: row;
 }
 
 .affaire-details h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
 }
 
 .affaire-details p {
   font-size: 10px;
   margin-bottom: 10px;
 }
 
 .affaire-details p strong {
   font-weight: bold;
 }
 
 /* Mission table styling */
 .mission-table {
   flex-grow: 1;
   overflow-y: auto;
 }
 
 .mission-table h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
 }
 
 .mission-table table {
   width: 100%;
   border-collapse: collapse;
   font-size: 16px;
 }
 
 .mission-table th, .mission-table td {
   padding: 10px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }
 
 .mission-table th {
   background-color: #f2f2f2;
 }
 
 .mission-table tr:hover {
   background-color: #f5f5f5;
 }